{% block body %}

{#
   _   _   _   _   _   _   _
  / \ / \ / \ / \ / \ / \ / \
 ( C ) o ) m ) m ) o ) n ) s )
  \_/ \_/ \_/ \_/ \_/ \_/ \_/

#}
<div class="edit-widget">
{% block form %}
<form class="ajax" update="widget-{{id}}" method="POST" action="{{path('victoire_cms_widget_edit', {'id':id, 'type':'text', 'page': pageId} )}}">
    {{form_row(form.content)}}
    {{form_rest(form)}}
{% block submit %}
    <button class="btn btn-success" type="submit">{{ 'ok'|trans|desc('Ok') }}</button>
    <a class="btn" class="cancel" onclick="cancelWidgetEdition({{id}}, '{{path('victoire_cms_widget_show', {'id':id} )}}');">{{ 'cancel'|trans|desc('Annuler') }}</a>
{% endblock submit %}
</form>
{% endblock form %}
</div>
{% endblock body %}
