{% block body %}

{#
   _   _   _   _   _   _   _
  / \ / \ / \ / \ / \ / \ / \
 ( C ) o ) m ) m ) o ) n ) s )
  \_/ \_/ \_/ \_/ \_/ \_/ \_/

#}
<div class="edit-widget">
{% block form %}
<form class="ajax" update="widget-{{id}}" method="POST" action="{{path('victoire_cms_widget_edit', {'id':id, 'type':'text'} )}}">
{#Booya ! Replace this default rendering by your own form#}
{{form_row(form)}}
{{form_rest(form)}}
{% block submit %}
<input type="submit" value="{{ 'ok'|trans|desc('Ok') }}" />
<a class="btn" class="cancel" onclick="cancelWidgetEdition({{id}}, '{{path('victoire_cms_widget_show', {'id':id} )}}');">{{ 'close'|trans|desc('Annuler') }}</a>
{% endblock submit %}
</form>
{% endblock form %}
</div>
{% endblock body %}
